[submodule "edFile"]
	path = edFile
	url = https://github.com/Icey1717/edFile.git
[submodule "edBank"]
	path = edBank
	url = https://github.com/Icey1717/edBank.git
[submodule "argparse"]
	path = argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "KyaTexture"]
	path = KyaTexture
	url = https://github.com/Icey1717/KyaTexture
[submodule "TextureUpload"]
	path = TextureUpload
	url = https://github.com/Icey1717/TextureUpload.git
[submodule "lodepng"]
	path = lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "KyaMesh"]
	path = KyaMesh
	url = https://github.com/Icey1717/KyaMesh.git
[submodule "tinygltf"]
	path = tinygltf
	url = https://github.com/syoyo/tinygltf.git
